<nav class="navbar bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <span class="navbar-brand text-light">Héroes App</span>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active text-light"
            aria-current="page"
            routerLink="/heroes"
            >Listado de héroes</a
          >
        </li>
      </ul>
      <span class="navbar-text small text-light">
        App hecha por F. Javier Cartán
      </span>
    </div>
  </div>
</nav>
